@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --orange-500: #f97316;
  --red-500: #ef4444;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-700: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
